body {
  transition: background-color 0.3s ease;
}
.light-mode {
  background-color: #fff;
  color: #000;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
.mode-switch {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#modeToggle {
  display: none;
}
#modeToggle:checked + .mode-switch {
  background-color: #000;
}
#modeToggle:checked ~ .light-mode {
  background-color: #333;
  color: #fff;
}
#modeToggle:checked ~ .dark-mode {
  background-color: #fff;
  color: #000;
}

.btn {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 11px;
  color: #fff;
  background-color: #264653;
  padding: 10px 30px;
  border: solid #000000 5px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #0066cc;
  border: solid 5px #0066cc;
}



.Slider_img img {
  width: 150px;
  height: 150px;
  border-radius: 500px;
}

.Slider_img {
  
  display: flex;
  align-items: center;
  gap: 10px;
}

.BotoesDireita {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.BotoesDireita2 {
  margin-left: auto;
  display: flex;
  align-items: center;

}



.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: right;
}

.imgpolite{
  border-radius: 50%;
  width: 110px;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #899599;
  background-color: #cfcbcb;
  border-radius: 15px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #2a535e;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.myButton:hover {
  background-color: #bab1ba;
}
.myButton:active {
  position: relative;
  top: 1px;
}



.containerImagens { 
  height: 1000px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  

}
.containerImagens {


  align-items: center;
  display: flex;
  justify-content: center;
  text-align: right;
  flex-direction: column;
  margin-bottom: 10px; 
}



.containerImagens .fotos img {
  border-width: 3cm;
  width: 500px; 
  height: 500px; 
  align-items: left;
  border-radius: 8px; 

}


.containerImagens .textos p {
  font-size: 16px; 
  line-height: 1.5; 
  color: #333; 

}
