<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Coloquei o CSS abaixo porque, caso contrário, ao atualizar a página, os estilos eram perdidos até que algo fosse feito no CSS -->
</head>
<body>
    <header>
        <a href="index.html">
            <button class="button-header">
                X
            </button>
        </a>
    </header>
    
    <main>
        <p id="t-1">Another one</p>
        <h1>Helping UIDeli.com</h1>
        <img src="https://images.pexels.com/photos/884788/pexels-photo-884788.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="imagem">
        <div class="linha"></div>

        <div class="container">
            <div class="container-sub">
                <a href="pagina-erro.html">
                    <p class="subrayado">Visit website</p>  
                </a>
                
                <button class="botao">
                    <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                    </svg>
                    </div>
                </button>
            </div>
            <div class="container-sub2">
                <h2>About UIDeli.com</h2>
                <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
                <h2>The project</h2>
                <p class="p">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <h2>Testimonials</h2>
                <div id="app">
  
                        <ul class="conteainer-coments">
                            <li v-for="(post, index) in comentarios" :key="post.id" class="comentarios">
                                <div id="img-centrada">
                                    <img :src="imgs[index] && imgs[index].avatar_url" class="imgs-coment">
                                </div>
                                <h3 id="h3">Anonimo</h3>
                                <div>
                                    {{ post.body }}
                                </div>
                            </li>
                        </ul>

                        <ul class="container-imgs">
                            <div class="container-imgs2">
                              <li v-for="img in imgs" :key="img.id" class="imgs-final">
                                <img :src="img.avatar_url" class="imgs-coment">
                              </li>
                            </div>
                        </ul>

                </div>
               
            </div>
        </div>
        
    
    </main>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        Vue.createApp({
          data() {
            return {
              comentarios: [],
              imgs: []
            }
          },
          mounted() {
            
            fetch('https://jsonplaceholder.typicode.com/posts')
              .then(response => response.json())
              .then(data => {
                
                this.comentarios = data.slice(0, 4).map(post => ({ id: post.id, body: post.body }));
              })
              
    
            
            fetch('https://api.github.com/repos/DesignHipermedia/UmaPortfolio2023A/contributors')
              .then(response => response.json())
              .then(data => this.imgs = data)
              
          }
        }).mount('#app');
      </script>
    
      <script setup>
        
        import { ref } from 'vue';
    
       
        const comentarios = ref([]);
    
        
        fetch('https://jsonplaceholder.typicode.com/posts')
          .then(response => response.json())
          .then(data => {
            
            comentarios.value = data.slice(0, 4).map(post => ({ id: post.id, body: post.body }));
          })
          
      </script>
    
    <link rel="stylesheet" href="comentarios.css">
</body>
</html>