.body{
    padding: 50px;
    
}
.imagem-rounded{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.header {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: space-between;
}
.container-header1{
  display: flex;
  align-items: center;
}
.container-header2{
  display: flex;
  align-items: center;
}
.options-nav {
  display: flex;
  list-style-type: none;
  border: 2px solid grey;
  border-radius: 100px;
  height: 90px;
  width: auto;
  align-items: center;
  justify-content: space-around;
  
}
.options-nav li {
  margin-right: 20px;
}
.botao-nav {
  font-size: 25px;
  background-color: none;
  border: 0;
  width: 140px;
}
.botao-nav:hover {
  border: 2px solid;
  border-radius: 100px;
  border-color: grey;
  height: 90px;
  width: 140px;
}
.t-header{
    margin: 20px;
    font-size: 30px;
}
.main{
    margin-top: 50px;
}
#titulo-p1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
#p-1{
    font-size: 30px;
}
.botoes2{
  border-radius: 100px;
  height: 60px;
  border: none;
  padding: 10px;
  margin-left: 5px;
}
#b-1{
  background-color: rgb(28, 20, 45);
  color: white;
  width: 130px;
}
#b-2{
  background-color: rgb(56, 0, 187);
  color: white;
}
#b-3{
  background-color: rgb(28, 20, 45);
  color: white;
}
#b-4{
  background-color: none;
  color: black;
  border: 1px black solid;

}
.circulares{
  width: 60px;
  align-items: center;
  justify-content: center;
}
.container1{
  margin-top: 40px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.botton-izq{
  display: flex;
}
.botton-der{
  display: flex;
}
.texto-depois-b2{
  margin-top: 100px;
  font-size: 33px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-end;
}
.resume{
  font-size: 19px;
  text-decoration: underline;
}
.resume-container{
  display: flex;
  align-items: center;
}
#b-resume{
  margin-left: 20px;
  height: 40px;
  width: 40px;
  background-color: rgb(56, 0, 187);
  color: white;
}
.linha-entre-about-work{
  margin-top: 40px;
  border: 1px solid;
}
.container-theworkido{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.theworkido{
  font-size: 50px;
  font-weight: 600;
}
.botoes-trabalho{
  display: flex;
  align-items: center;
  
}
.botoes-trabalho button{
  margin-left: 10px;
}
.botoes-blanco{
  background-color: none;
  border: 2px solid  black;
  border-radius: 100px;
  height: 60px;
  width: 140px;
}
.containers-de-seu-trabalho{
  margin-top: 40px;
}
.seu-trabalho{
  display: flex;
  
}
.seu-trabalho{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-top: 70px;
  
}
.imagem-trabalho{
  height: auto;
  width: 600px;
  position: relative;
  display: inline-block;
}
.imagem-trabalho a::before {
  content: 'View';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(70, 0, 128); 
  color: white;
  border-radius: 50%;
  padding: 40px; 
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}
.imagem-trabalho a:hover::before {
  opacity: 1;
}
.titulo-trabalho{
  font-weight: 600;
  font-size: 45px;
}
.texto-trabalho{
  font-size: 25px;
}
.load-more{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  width: 100%;
}
footer{
  background-color: #1c1c24;
  padding-top: 2px;
  padding-bottom: 2px;
}
.footer{
  margin: 120px;
}
.titulo-footer{
  margin-top: 300px;
  color: white;
  font-size: 30px;
  font-weight: 500;
}
.containers-footer{
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
.container-footer{
  display: flex;
  flex-direction: column;
  width: 390px;
}
.linha-footer{
  width: 90%;
  border: solid gray 1px;
  
}
.n-footer{
  color: gray;
  margin-bottom: 18px;
}
.titulo-footer{
  margin-top: 20px;
  font-size: 50px;
  font-weight: 400;
}
.texto-footer{
  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.texto2-footer{
  color: white;
  font-size: 27px;
 
}
.texto2-footer p{
  margin-top: 20px;
}
.margin-top{
  margin-top: 90px;
}
.dinheiro{
  display: flex; 
  margin-top: 50px;
}
.qt{
  font-size: 69px;
  color: white;
}
.month{
  font-size: 16px;
  color: rgb(190, 190, 190);
  margin-left: 30px;
  margin-top: 65px;
}
#texto-depois-dinheiro{
  margin-top: 50px;
  color: white;
  font-size: 16px;
}
.container-footer2{
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 50px;
  width: 30%;
  justify-content: space-between;
}
.img-small{
  height: 70px;
  width: 70px;
}
.botao-footer{
  height: 100%;
  background-color: white;
  border-radius: 100px;
  width: 50%;
  font-weight: 600;
}
.botao-footer2{
  background-color:  #4c3cd4;
  color: white;
  height: 80px;
  width: 80px;
  border-radius: 100px; 
}
.botao-centrado{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-footer3{
  display: flex;
  margin-top: 30px;
  font-size: 21px;
  color: white;
}
#subrayado{
  text-decoration: underline;
  margin-left: 14px;

}
#antes-subrayado{
  font-weight: 100;
}
.container-footer4{
  display: flex;
  margin-top: 40px;
  color: white;
  
}
.margin-right{
  margin-right: 15px;
}
.darkmode .body{
  background-color: black;
}

.darkmode p{
  color: white;
}
.darkmode h1{
  color: white;
}
.darkmode .options-nav{
  color: white;
}
.darkmode .t-header{
  color: white;
}
.darkmode .light{
  background-color: yellow;
}
.darkmode a{
  color: white;
}
.darkmode .linha-entre-about-work{
  color: white;
}
.darkmode .botoes-blanco{
  background-color: rgb(56, 0, 187);
  color: white;
}
@media (max-width: 450px){
  .body{
    padding:30px;
  }
  .t-header{
    font-size: 18px;
  }
  .options-nav{
    display: none;
  }
  
  .imagem-rounded{
    padding: 40px;
  }
}
