body {
  margin: 0;
  padding: 0;
  width: 100%;
  transition: color 0.3s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.811);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
    /* overflow: hidden; */
}
body.scrolled .navbar {
    background-color: black;
}
.navbar img.logouni {
    display: block;
    margin: 0 auto;
    width: 15%; /* Adjust the width as needed */
}
.navbar button {
    background-color: transparent;
    border: none;
}
.login{
  margin-right: 20px;
}
.login1{
  margin-left: 20px;
}
.loginimg {
    width: 25px;
    height: auto;
    border: 1.5px solid transparent;
    color: white;
}
.loginimg:hover {
    background-color: transparent;
    border: 1.5px solid darkslateblue;
    color: darkslateblue;
    border-radius: 50px;
}
.img {
    width: 100%;
    height: auto;
    margin-top: -10%;
}
.cartoes{
    width: 90%;
    padding: 40px;

}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
}
.colum1{
    box-sizing: border-box;
}
.colum2{
    box-sizing: border-box;
}
.sectiony{
    display: flex;
    justify-content: center;
    margin: 5% 10% ;
    padding: 2%;
    background-color: #f9f95f;
    border-radius: 35px;
  
  }
  .containimgw{
    position:relative;
    width: 50%;
  }
  .text{
    width: 100%;
    margin-left: 30px;
    color: rgb(19, 19, 19);
  }
.sectionimg{
    width: 100%;
    border-radius: 35px;
}
.workh1{
    font-size: 16px;
}
.workp{
    font-size: 12px;
}
.sectionb{
    display: flex;
    justify-content: center;
    margin: 5% 10% ;
    padding: 2%;
    background-color: #5f79fe;
    border-radius: 35px;
}
.sectionv{
    display: flex;
    justify-content: center;
    margin: 5% 10% ;
    padding: 2%;
    background-color: #7ffe5f;
    border-radius: 35px;
}
.sectionver{
    display: flex;
    justify-content: center;
    margin: 5% 10% ;
    padding: 2%;
    background-color: #fe5f5f;
    border-radius: 35px; 
}
.footer{
    display: flex;
    padding: 0px 70px 0px;
    color: #fff;
    align-items: flex-start;
    background-color: #2d3242;
    flex-direction: column;

  }
  .cartoesft{
    
    width: 100%;
    gap: 70px;
    display: flex;
    align-items: space-between;
    justify-content: center;
  }
  .cartoesft1{
    width: 100%;
    gap: 70px;
    display: flex;
    align-items: space-between;
    justify-content: center;
    border-top: 1px solid white;
  }
  .cardft{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    background-color: transparent;
    width: 100%;
  }
  .ftlink{
    text-decoration:none; 
    color:#fff;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  .overlay1{
    position: absolute;
    top: 84%;
    left: 40%;
    width: 20%;
    height: 20%;
    border-radius: 35px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  .containimgw:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.768);
  }
  .slideshow:hover .overlay1{
    display: block;
    background: rgba(0, 0, 0, 0.768);
  }
  .title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    z-index: 1;
    transition: top .5s ease;
  }
  .title1{
    position: absolute;
    width: 100%;
    left: 0;
    top: 98%;
    font-weight: 700px;
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    z-index: 1;
    transition: top .5s ease;
  }
  .containimgw:hover .title {
    top: 20px;
    color: white;
}
.slideshow:hover .title14{
    position: absolute;
    width: 100%;
    left: 0;
    top: 620px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    z-index: 1;
    transition: top .5s ease;
}
.button {
    position: absolute;
    width: 100%;
    left:0;
    top: 100px;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease;
  }
  .button1{
    position: absolute;
    width: 100%;
    left:0;
    top: 97%;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease;
  }
  .button a{
    width: 200px;
    padding: 1px 8px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  .button1 a{
    width: 200px;
    padding: 1px 8px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  .containimgw:hover .button {
    opacity: 1;
  }
  .slideshow:hover .button1{
    opacity: 1;
  }
  
  .topicos{
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    width: 100%;
    
  }
  .titulocardft{

    font-size: 30px;
    margin-bottom: 15px;
  }
  .textoft{
    font-size: 17px;
  }
  .pol{
    margin-bottom: 9px;
    font-size: 14px;
    
  
  }
  .botao3{
    margin-left: 10px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 40px;
    color: #212121;
    z-index: 1;
    background-color: white;
    position: relative;
    flex-direction: row;
    font-weight: bold;
    font-size: 12px;
    border: 0.1px solid black ;
    transition: all 600ms;
    /* overflow: hidden; */
    line-height: 2.5;
    
  }
  .botao3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: darkslateblue;
    z-index: -1;
    border: 1px solid black 1px;
    transition: all 700ms;
  }
  .botao3:hover {
    color: #e8e8e8;
  }
  .botao3:hover::before {
    width: 100%;
  }
  .botoes4{
    display:inline-block;
    display: flex;
    align-items: center;
    justify-self:flex-end;
    padding-left: 68px;
    
  }
  .h1work{
    margin-top: 70px;
    margin-left: 70px;
    border-top: 2px solid #4e4d4d45;
    width: 89%;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 30px;
    
  
    padding-top: 15px;
  }
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: auto;
    width: 160px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border: 1px solid ;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: rgb(255, 255, 255);
    padding-right: 40px;
    color:#000000;
  }
  .input-search::placeholder{
    color:rgba(0, 0, 0, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#000000 ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  @media only screen and (max-width: 992px) {
    .botao3{
      display: none;
    }

    html{
      display: flex;
      align-items: center;
      width: 80%;
    }
    body{
      width: 125%;
    }
    .ftlink{
      display: none;
    }
    .cardft{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: fit-content;
      padding: 10px 0px;
      background-color: transparent;
      
      
    }
     .sectionb{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     } 
     .sectiony{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     } 
     .sectionv{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     } 
     .sectionver{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     }  
     .workp2, .workp{
      display: none;
     }
     .button {
      position: absolute;
      width: 100%;
      left:0;
      top: 50px;
      text-align: center;
      opacity: 0;
      transition: opacity .5s ease;
    }
    .workh1{
      margin-left: 50px;

    }
    .h1work{
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      justify-items: center;
    }
    .botoes4{
      display: none;
    }
    .h1work{
      margin-top: 70px;
      margin-left: 43.375px;
      border-top: 2px solid #4e4d4d45;
      width: 81%;
      box-sizing: none;
      justify-content: space-between;
      display: flex;
      align-items: center;
      font-size: 30px;
      
    
      padding-top: 15px;
    }
    .input-search{
      height: auto;
      width: 97.5%;
      border-style: none;
      padding: 10px;
      font-size: 18px;
      letter-spacing: 2px;
      outline: none;
      border: 1px solid ;
      border-radius: 25px;
      transition: all .5s ease-in-out;
      background-color: rgb(255, 255, 255);
      padding-right: 40px;
      color:#000000;
    }
    .footer{
      display: flex;
      padding: 0px 70px 0px;
      color: #fff;
      align-items: flex-start;
      background-color: #2d3242;
      flex-direction: row;
      
  
    }
    /* .cartoesft{
    
      width: 100%;
      gap: 70px;
      display: flex;
      align-items: space-between;
      justify-content: center;
      flex-direction: column;
    } */
    .cartoesft1{
      display: none;
    }
    .title{
      display: none;
    }
}