body{
	padding: 50px;
}

.container {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}

.container2{
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}


.curriculo{
    display: flex;
    gap:20px;
    justify-content: flex-start;
    align-items: center;
}

.profileimage {
  display: flex;
  gap:50px;
}

.navegacao {
  display: flex;
  align-items: center;
  justify-content: right;
}

.profile {
  width: 300px;
  height: 300px;
  border-radius: 200px;
}

.menu {
  background-color: transparent;
  width: fit-content;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.botaosobre,
.botaotrabalhos,
.botaosolucoes {
  width: 150px;
  height: 100px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #5f1de5;
  transition: ease-out 0.3s;
  outline: none;
  position: relative;
  overflow: hidden;
}

.modo-escuro .botaosobre,
.modo-escuro .botaotrabalhos,
.modo-escuro .botaosolucoes {
  width: 150px;
  height: 100px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #d237f1;
  transition: ease-out 0.3s;
  outline: none;
  position: relative;
  overflow: hidden;
}

.botaosobre:hover,
.botaotrabalhos:hover,
.botaosolucoes:hover {
  color: white;
  cursor: pointer;
}

.botaosobre:before,
.botaotrabalhos:before,
.botaosolucoes:before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #523dd7;
}

.modo-escuro .botaosobre:before,
.modo-escuro .botaotrabalhos:before,
.modo-escuro .botaosolucoes:before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #d237f1;
}

.botaosobre:hover:before,
.botaotrabalhos:hover:before,
.botaosolucoes:hover:before {
  transition: 0.5s all ease;
  border-radius: 10px;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.modo-escuro .botaosobre:hover:before,
.modo-escuro .botaotrabalhos:hover:before,
.modo-escuro .botaosolucoes:hover:before {
  transition: 0.5s all ease;
  border-radius: 10px;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.botaosobre.active,
.botaotrabalhos.active,
.botaosolucoes.active {
  background-color: #523dd7;
  color: white;
  
}

.modo-escuro .botaosobre.active,
.modo-escuro .botaotrabalhos.active,
.modo-escuro .botaosolucoes.active {
  background-color: #d237f1;
  color: white;
}


.copyright {
  display: flex;
  align-items: center;
}

h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 60px;
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: lighter;
  }

h3 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color:black
}

.modo-escuro a{
  color: white;
}

.primeiroparagrafo {
  padding-left: 20px;
}

.segundoparagrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: lighter;
}

.butoesprojecto{
  display: flex;
  justify-content:space-between;
  padding: 50px;
}

.projeto{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.comecar{
    width: 300px;
    height: 100px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:#11111E;
    color: white;
    border: none;
    cursor: pointer;
}

.setacima{
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  background-color:#523dd7;
  border: none;
  cursor: pointer;
}

.setabaixo {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  background-color:#523dd7;
  border: none;
  cursor: pointer;
}

.modo-escuro .setabaixo{
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  background-color:#d237f1;
  border: none;
  cursor: pointer;

}


.modo-escuro .setacima{
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  background-color:#d237f1;
  border: none;
  cursor: pointer;
}

.alternarmodo{
  display: flex;
  gap: 10px;
}

.light,
.dark {
    background-color: white;
    color: black;
    border:transparent;
    border-radius: 1000px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease-out 0.3s;
}

.dark{
  border: 1px solid black;
}

.light.active,
.dark.active {
    background-color: #523dd7;
    border: transparent;
}

.modo-escuro .light.active,
.modo-escuro .dark.active {
    background-color:#d237f1;
    border: transparent;
}

.modo-escuro{
  background-color: black;
  color: white;
}