body{
    width:100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }

.container1{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding:250px;
    padding-top:100px;
    font-family: Arial, Helvetica, sans-serif;
}

.container2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding-top:50px;
    font-family: Arial, Helvetica, sans-serif;
}

.container3{
  width: 70%;
  margin-top: 50px;
}

.barra{
    height: 150px;
    background-color: #523dd7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.voltar{
    width: 100px;
    height: 100px;
    border-radius: 500px;
    background-color: #523dd7;
    color: white;
    margin: 50px;
    border:1px solid;
    cursor:pointer;
    font-size: 20px;
    font-weight: bolder;
}

.image{
    width: 100%;
    height: 70%;
}

.setacima {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  background-color: #523dd7;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setacima svg {
  display: inline-block;
  vertical-align: middle;
}

  h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  
  h2 {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: lighter;
      margin-bottom: 10px;
    }
  
  h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
  }
  
  h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
  }
  
  a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:black;
    margin-right: 10px;
  }

  .linha{
    width: 100%; 
    margin: 50px auto; 
    border: 1px solid gray; 
    opacity: 50%;
}

.paragrafo2{
    width: 70%;
    justify-content:center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin:0;
}

.botoes {
  width: 20%;
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
}

.app{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  font-size: 15px;
}

.app:has(div){
  gap: 30px;
}

.container3{
  width: 50%;
  display:flex;
  align-self: flex-end;
}




@media screen and (max-width: 992px) {
  .container1 {
    width: 80%;
    padding: 50px;
    padding-top: 80px;
  }

  .container2 {
    flex-direction: column;
    align-items: center;
  }

  .barra {
    justify-content: center;
  }

  .voltar {
    margin: 20px;
  }

  .setacima {
    margin: 10px 0;
  }

  h2 {
    font-size: 40px;
  }

  .paragrafo2 {
    width: 100%;
    padding: 20px;
  }

  .botoes {
    width: 100%;
    justify-content: center;
  }

  .app{
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: 15px;
  }

  .container3{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
