.page-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .page-page {
    width: 100%;
    height: auto;
    display: flex;
    padding: 80px 0 0;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
  .page-top-bar {
    gap: 20px;
    width: 1440px;
    height: 80px;
    display: flex;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.11999999731779099) ;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
  }
  .page-image1 {
    width: 40px;
    height: 30px;
    border-radius: 100px;
  }
  .page-text {
    color: rgba(0, 0, 0, 1);
    height: auto;
    flex-grow: 1;
    font-size: 28px;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-section {
    gap: 60px;
    display: flex;
    padding: 60px 170px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-container1 {
    gap: 24px;
    width: 1100px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text02 {
    color: rgba(0, 0, 0, 1);
    width: 520px;
    height: auto;
    font-size: 40px;
    font-style: Bold;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text04 {
    color: rgba(0, 0, 0, 1);
    width: 520px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-vector200 {
    top: 240px;
    left: 0px;
    width: 1440px;
    height: 1px;
    z-index: 1;
    position: absolute;
  }
  .page-section1 {
    gap: 60px;
    display: flex;
    padding: 60px;
    overflow: hidden;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-container2 {
    gap: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-text06 {
    color: rgba(0, 0, 0, 1);
    width: 82px;
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text08 {
    color: rgba(0, 0, 0, 1);
    width: 124px;
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text10 {
    color: rgba(0, 0, 0, 1);
    width: 150px;
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .redirect-button {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.redirect-button:hover {
    background-color: #333; 
}