.page-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .page-page {
    width: 100%;
    height: auto;
    display: flex;
    padding: 85px 0 0;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
  .page-section {
    gap: 60px;
    display: flex;
    padding: 60px 170px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-container1 {
    gap: 24px;
    width: 1100px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text {
    color: rgba(0, 0, 0, 1);
    width: 520px;
    height: auto;
    font-size: 40px;
    font-style: Bold;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text02 {
    color: rgba(0, 0, 0, 1);
    width: 520px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-input {
    gap: 4px;
    width: 360px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .page-textfield {
    gap: 4px;
    display: flex;
    padding: 8px 12px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 0.10000000149011612);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .page-text04 {
    color: rgba(0, 0, 0, 0.5);
    height: auto;
    flex-grow: 1;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-button {
    gap: 12px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
  }
  .page-primary {
    width: 160px;
    display: flex;
    padding: 12px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
  }
  .page-text06 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-vector200 {
    top: 348px;
    left: 0px;
    width: 1440px;
    height: 1px;
    z-index: 1;
    position: absolute;
  }
  .page-section1 {
    gap: 60px;
    display: flex;
    padding: 60px 170px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-container2 {
    gap: 24px;
    width: 1100px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text08 {
    color: rgba(0, 0, 0, 1);
    width: 520px;
    height: auto;
    font-size: 40px;
    font-style: Bold;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text10 {
    color: rgba(0, 0, 0, 1);
    width: 520px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-input1 {
    gap: 4px;
    width: 600px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .page-text12 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 14px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-textfield1 {
    gap: 4px;
    display: flex;
    padding: 8px 12px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 0.10000000149011612);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .page-text14 {
    color: rgba(0, 0, 0, 0.5);
    height: auto;
    flex-grow: 1;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-input2 {
    gap: 4px;
    width: 600px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .page-text16 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 14px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-textfield2 {
    gap: 4px;
    display: flex;
    padding: 8px 12px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 0.10000000149011612);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .page-text18 {
    color: rgba(0, 0, 0, 0.5);
    height: auto;
    flex-grow: 1;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-input3 {
    gap: 4px;
    width: 600px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .page-text20 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 14px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-textfield3 {
    gap: 4px;
    display: flex;
    padding: 8px 12px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 0.10000000149011612);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .page-text22 {
    color: rgba(0, 0, 0, 0.5);
    height: auto;
    flex-grow: 1;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-button1 {
    gap: 12px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
  }
  .page-primary1 {
    width: 160px;
    display: flex;
    padding: 12px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
  }
  .page-text24 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-vector2001 {
    top: 540px;
    left: 0px;
    width: 1440px;
    height: 1px;
    z-index: 1;
    position: absolute;
  }
  .page-section2 {
    gap: 60px;
    display: flex;
    padding: 60px;
    overflow: hidden;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-container3 {
    gap: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-text26 {
    color: rgba(0, 0, 0, 1);
    width: 379px;
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  #loginButton {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}