body{
    background-color: #2D3250;
    margin: 0;
    
}
header{
    background-color: #202337;
    height: 13vh;
    padding-inline: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pesquisa-part{
    width: 50%;
    height: 4vh;
    display: flex;
}
.pesquisa-logo{
    display: flex;
    width: 50px;
    color: #F8FAE5;
}
.pesquisa-logo:hover{
    color: #43766C;
}
.part-nav{
    width: 39%;
    display: flex;
    justify-content: space-around;
}
#uma{
    width: 20%;
    height: 100%;
}
.input{
    display: flex;
    justify-content: flex-start;
}
#pesquisa{
    
    background-color: #F8FAE5;
    border-radius: 18px;
    width: 50%;
    height: 100%;
    border: none;
    transition: width 0.7s ease;
}
#pesquisa:hover{
    width: 100%;
    transition: width 0.7s ease;
}
button{
    background-color: #43766C;
    color: white;
    border: none;
    padding: 13px;
    padding-inline: 30px;
    border-radius: 29px;
}
button:hover{
    background-color: #202337;
    border: 2px #43766C solid;
    transition: background-color 0.5s ease;
    
}
main{
    padding-inline: 7%;
    padding-block: 10vh;
    
}
h1{
    color: white;
    font-size: xx-large;
}
p{
    margin-top: 10%;
    color: white;
    font-size: larger;
}
.container-noticias{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.noticias{
    display: flex;
    height: 65%;
    width: 100%;
    margin-bottom: 20px;
}
.maos{
    width: 50%;
    margin: 20px;
    border-radius: 10px;
    height: 90%;
    background-color: #43766C;
    border: none;
    padding: 20px;
}
.maos a{
    display: none;
}
.container-pequenas{
    width: 50%;
    border-radius: 10px;
    margin: 20px;
    height: 90%;

}
.pequenas{
    width: 90%;
    height: 22%;
    border-radius: 10px;
    background-color: #43766C;
    margin-bottom: 30px;
    padding: 20px;
}
.cards:hover{
    background-color: #2D3250;
    border: 5px solid #43766C;
}

.ecopontos{
    width: 93%;
    margin: 20px;
    border-radius: 10px;
    height: 39%;
    background-color: #43766C;
    padding: 20px;
}
.ecopontos a{
    display: none;
}
h3{
    color: white;
}
h2{
    color: white;
}
a{
    color: blue;
}

footer{
    display: flex;
    padding-inline: 10%;
    padding-block: 10vh;
    background-color: #0A1412;
    justify-content: space-between;
}
@media (max-width: 450px){
    .noticias{
        flex-direction: column;
    }
    .maos p{ 
        display: none;
    }
    .maos{
        width: 100%;
    }
    .maos a{
        display: block;
    }
    #uma{
        width: 40%;
        height: auto;
    }
    #umaa{
        display: none;
    }
    #pesquisa{
        width: 90px;
    }
    #pesquisa:hover{
        width: 90px;
        transition: width 0.7s ease;
    }
    button{
        padding-inline: 15px;
        font-size: 10px;
    }
    #ajude{
        display: none;
    }
    .noticias{
        width: 76%;
        flex-direction: column;
    }
    .ecopontos h3{
        display: none;
    }
    .ecopontos{
        height: 10%;
        width:90%;
        margin: 0;
        margin-top: 100px;
    }
    .ecopontos a{
        display: block;
    }
    .container-pequenas{
        width: 100%;
        height: 90%;
    
    }
    .pequenas{
        width: 100%;
    }
    

    h1{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }

    footer{
        padding-block: 5%;
    }
    footer p{
        font-size: 12px;
    }
}