*{
    margin: 5px;
    padding: 5px;
}

.container{
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(71, 47, 158);
    border-radius: 1em;
}

.all{
    display: flex;
    align-items: flex-start;
    padding-left: 5px;
}

.img1{
    width: 400px;
    height: 200px;
    border-radius: 0.5em;
}

.texto1{
    color: white;
}

.texto2{
    color: white;
    padding-bottom: 10px;
    border-bottom: solid 5px white;
    border-radius: 0.5em;
}

.img2{
    width: 400px;
    height: 250px;
    border-radius: 0.5em;
}

.leftside{
    padding-top: 20px;
    padding-left: 25px;
}

.img3{
    width: 550px;
    height: 350px;
    margin: 0px;
    border-start-start-radius: 0.5em;
    border-start-end-radius: 0.5em;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Pumpkins_with_candles_%28Unsplash%29.jpg/1599px-Pumpkins_with_candles_%28Unsplash%29.jpg?20170818192652");
    background-size: cover;
}

.destaque{
    background-color: white;
    border-end-end-radius: 0.5em;
    border-end-start-radius: 0.5em;
    margin-top: 350px;
    padding-bottom: 25px;
    padding-top: 25px;

}

.uptext{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#baka{
    color: #307aff;
    font-size: 32px;
    padding-bottom: 0px;
    font-weight: bold;
}

#baka2{
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 0px;
    padding-left: 20px;
}

.downtext{
    margin-top: 0px;
    padding: 0px;
}

#baka3{
    color: #307aff;
    font-size: 24px;
    padding-top: 0px;
    font-weight: bold;
}

#baka4{
    font-size: 22px;
    font-weight: bolder;
    padding-top: 0px;
}

.img4{
    width: 550px;
    height: 100px;
    margin-top: 156px;
    border-radius: 0.5em;
    background-image: url("https://media.istockphoto.com/id/1174282589/photo/halloween-jack-o-lantern-bucket-filled-with-candy-isolated-on-white.jpg?s=612x612&w=0&k=20&c=tuvcuOM1xD8Pfj9yLl9mjYqyssOxr_bqjuTZwykE-CE=");
    background-size: 500px 275px;
    background-position: bottom;
}

.logintext{
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 100px;
    padding-top: 10px;
}